.product_card__buttons {
  display: flex;
  gap: 24px;
}

.product_card__buttons__toCart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 244px;
  padding: 0px 32px;
  gap: 8px;

  background: #17696a;

  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.product_card__buttons__toCart:hover {
  background: #145c5d;
}

.product_card__buttons__toCart:active {
  background: #145c5d;
  transform: scale(0.97);
}

.product_card__buttons__toCart span {
  color: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.5px;

  white-space: nowrap;
}

.product_card__buttons__toFavorite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0px 32px;
  gap: 10px;

  border-radius: 4px;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.5px;

  cursor: pointer;
}

.product_card__buttons__Favorite_on {
  border: 1px solid #17696a;
  background-color: #17696a;
  color: #fff;
}
.product_card__buttons__Favorite_off {
  border: 1px solid #17696a;
  background-color: #fff;
  color: #17696a;
}
