.breadcrumb {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.activeFilters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.activeFilters button {
  border: none;
}

.toolbar {
  display: flex;
}

.mainWrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  gap: 60px;
}

.filterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  flex-grow: 1;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  flex-grow: 1;
  box-sizing: border-box;
  gap: 20px;
}
