.payment-option {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subtitle {
  margin-bottom: 24px;
  color: #1e212c;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.radio_group {
  display: flex;
  justify-content: space-around;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 3px;
}

.radio-container input[type="radio"] {
  display: none;
}

.custom-radio {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 2px solid #17696a;
  border-radius: 50%;
}

.radio-container input[type="radio"]:checked + .custom-radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #17696a;
}

.radio-container label {
  color: var(--gray-800, #424551);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}
