.layout__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  height: 100%;
  max-width: 1920px;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}

.layout__header {
  max-width: 1230px;
  margin: 0 auto;
  width: 100%;
}

.layout__main {
  flex-grow: 1;
}

.layout__footer {
  max-width: 1230px;
  margin: 0 auto;
  width: 100%;
}
