.header {
  box-sizing: border-box;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.logo a {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu {
  display: inline-flex;
  align-items: center;
  gap: 40px;
}

.menu a {
  color: var(--gray-800, #424551);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.toolbar {
  display: flex;
  align-items: center;
  min-width: 80px;
}

.toolbar a::before {
  margin: 10px;
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  background: linear-gradient(
    315deg,
    rgba(218, 219, 221, 0) 0%,
    rgba(218, 219, 221, 0.5) 12.33%,
    #dadbdd 51.91%,
    rgba(218, 219, 221, 0.5) 87.85%,
    rgba(218, 219, 221, 0) 100%
  );
}

.toolbar a {
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
}

.toolbar span {
  margin-left: 5px;
}

.toolbar a span {
  text-align: center;
  min-width: 25px;
  padding: 1px 4px;
  border-radius: 4px;
  background: #03cea4;
  color: white;
  font-size: 12px;
  font-weight: 900;
  line-height: 150%;
}
