.footer_container {
  background: #1e212c;
}

.footer {
  margin-top: auto;
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  max-width: 1230px;
  margin: 0 auto;
  width: 100%;
}

.footer > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 40px 0;
  gap: 4px;
}

.footer > div > h3 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.footer > div > a {
  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
}

.footer > div > div {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 12px;
}

.footer__social__item {
  position: relative;
  width: 32px;
  height: 32px;
}

.footer__social__link {
  display: flex;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 4px;
  opacity: 0.12;
  background: #fff;
}

.footer__social__img {
  position: absolute;
  top: 8px;
  left: 8px;
}
