.page_container {

}

.breadcrumbs_container {
  background: #f4f5f6;
}

.breadcrumbs_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  max-width: 1230px;
  margin: 0 auto;
  width: 100%;
}

.product_card__wrapper {
  display: flex;
  max-width: 1230px;
  margin: 0 auto;
  padding: 16px 0;
  margin-top: 16px;
  width: 100%;
  gap: 105px;
  border-top: 1px solid rgba(204, 214, 228, 0.6);
  border-bottom: 1px solid rgba(204, 214, 228, 0.6);
}

.product_card__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product_card__title{
  color:  #1E212C;
font-size: 46px;
font-style: normal;
font-weight: 900;
line-height: 130%; 
}

.product_card__price {
  display: inline-flex;
  align-items: flex-end;
  gap: 12px;
}

.product_card__price div {
  color: #ff4242;

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.product_card__price s {
  color: #787a80;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  text-decoration-line: strikethrough;
}


.product__info {
  color: #424551;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product__info__description {
  color: #424551;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
