.breadcrumbs_container {
  background: #f4f5f6;
}

.breadcrumbs_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  max-width: 1230px;
  margin: 0 auto;
  width: 100%;
}

.account__wrapper {
  max-width: 1230px;
  margin: 0 auto;
  width: 100%;
}

.account__container {
  display: flex;
  gap: 135px;
  margin: 80px 0 180px 0;
}

.menu {
  max-width: 285px;
  height: min-content;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e5e8ed;
  background: #fff;
  width: 100%;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.menu__header {
  padding: 20px;
}

.menu__header__name {
  color: #424551;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.menu__item {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-top: 1px solid rgba(204, 214, 228, 0.6);

  color: #424551;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.favorites__container {
  margin-left: auto;
  padding: 1px 8px;
  border-radius: 4px;
  background: #f89828;

  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
}
